body {
  background-color: powderblue;
}

hr {
  border-style: dotted none none;
  height: 0px;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}
h1 {
  color: #66bfbf;
}
h3 {
  color: #66bfbf;
}
